<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<form action="#" th:action="@{/address}" th:object="${address}" method="post">
    <table>
        <tr>
            <td><label>Firstname</label></td>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <td><label>Lastname</label></td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <td><label>E-Mail Address</label></td>
            <td><input type="email" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>