<!DOCTYPE html>
<html>
<title>ADRESSEC</title>
<head>
    <style>
        h1 { color: lawngreen; font-family: sans-serif;text-shadow: 0 0 5px black; text-align: center; border-bottom: 1px black;}
        body {background-color: lightgray;}

    </style>
<header>
    <h1>ADRESSSEC - The OIDC-secured Adressbook</h1>
</header>
</head>
<body>
    <button type="button" onclick="saveAdress()">Click Me!"</button> 
    <script>
        function saveAdress(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText)
                }
            }
            xhttp.open("GET", "http://localhost:8081/test", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            json = xhttp.send();
        }
    </script>



    <div id="add-element">
        <table id="add-element-table" width=100%>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th></th>
                <th>Vorname</th>
                <th>Name</th>
                <th>Handynummer</th>
                <th>Bibliotheksnummer</th>

            </tr>
            <tr>
                <th>
                    <select id="asset-selection">
                        <option id = "item" style="text-align:center">- Gegenstand -</option>
                    </select>
                </th>
                <th>
                    <input type="date" id = "name">
                </th>
                <th>
                    <input type="date"id = "surename">
                </th>
                <th>
                    <input type="text" id="name">
                </th>
                <th>
                    <input type="text" id = "surname">
                </th>
                <th>
                    <input type="number" id = "cell">
                </th>
                <th>
                    <input type="number" id = "lib">
                </th>
                <th>
                    <button style="margin: 10px" onclick="saveNewElement()">Speichern</button>
                </th>

            </tr>
        </table>
</body>
</html>