<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
<body>
<div id="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="adress : ${adresses}">
            <td th:text="${adress.id}">Text ...</td>
            <td th:text="${adress.firstName}">Text ...</td>
            <td th:text="${adress.lastName}">Text ...</td>
            <td th:text="${adress.email}">Text ...</td>
        </tr>
        </tbody>
    </table>
    <div id="pagefoot" th:include="layout :: footerFragment">Footer
    </div>
</div>
<!-- container -->
</body>
</body>
</html>